<% provide(:title, "Sign up") %>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user, html: {class: 'form-signup'}) do |f| %>
			<%= render 'shared/error_messages' %>
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>

			<%= f.label :company %>
			<%= f.text_field :company %>

			<%= f.label :company_address %>
			<%= f.text_area :company_address %>

			<%= f.label :telp_no %>
			<%= f.text_field :telp_no %>

			<%= f.label :mobile_no %>
			<%= f.text_field :mobile_no %>

			<%= f.submit "Create my account", class: 'btn btn-large btn-primary' %>
		<% end %>
	</div>
</div>