<%- model_class = Industry -%>
<% provide(:title, 'Industry Solutions') %>
<div class="row">
  <div class="span2">
    <ul class="nav nav-list">
        <li class="nav-header">Industries & Solutions</li>
        <% Industry.select('id','name').each do |list_industry| %>
        <li <%= "class = active" if current_page?(controller: 'industries', action: 'show', name: list_industry.name) %>><%= link_to list_industry.name, controller: 'industries', action: 'show', name: list_industry.name %></li>
        <% end %>
    </ul>
  </div>
  <div class="span10">
      <ul class="breadcrumb">
          <li>Industries & Solutions <span class="divider">/</span></li>
          <li><%= @industry.name %></li>
      </ul>
      <div class="featurette">
        <%= image_tag("solutions/#{@industry.name.downcase.tr(' ', '-')}-main.jpg", class: 'featurette-image pull-right') %>
        <h2 class="featurette-heading"><%=@industry.name %>. <span class="muted"><%= @industry.header %></span></h2>
        <p class="lead"><%= @industry.description %></p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="../assets/img/examples/browser-icon-firefox.png">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
  </div>
</div>
