<% provide(:title, "#{@category.name} | PT GATASIS INDONESIA") %>
<div class="row">
	<div class="span3">
    <%= render 'layouts/side_nav' %>
	</div>
	<div class="span9">
		<ul class="breadcrumb">
          <li>Products <span class="divider">/</span></li>
          <li><%= @category.name %></li>
      	</ul>
      	  <div class="featurette">
          <%= image_tag @category.category_picture1.url, class: 'featurette-image pull-right' %>
    			<h3 class="featurette-heading"><%= @category.name %></h3>
    			<p><%= @category.description %></p>
  		  </div>
        <br>
        <div class="row-fluid">
          <ul class="thumbnails">
            <% @sub_category.each do |list_sub| %>
              <li class="span4">
                <div class="thumbnail">
                  <%= link_to(image_tag(list_sub.sub_category_picture1.url),"/categories/#{list_sub.name.tr(' ','-')}") %>
                  <div class="caption">
                    <h3><%= list_sub.name %></h3>
                    <p><%= list_sub.description %></p>
                  </div>
                </div>
              </li>
              <% end %>
            </ul>
        </div>
	</div>
</div>