<% provide(:title, 'Specification - Products Catalogue') %>
<div class="row">
	<div class="span3">
    <%= render 'layouts/side_nav' %>
	</div>
	<div class="span9">
		<ul class="breadcrumb">
          <li>Products <span class="divider">/</span></li>
          <li><%= link_to @product.sub_category.category.name, "/sub_categories/#{@product.sub_category.category.name.tr(' ','-')}" %> <span class="divider">/</span></li>
          <li><%= link_to @product.sub_category.name, "/categories/#{@product.sub_category.name.tr(' ','-')}" %> <span class="divider">/</span></li>
          <li><%= @product.name %></li>
    </ul>
        <div class="row-fluid">
          <div class="span6">
            <h1><%= @product.sub_category.name %></h1>
            <h2><%= @product.brand + " " + @product.name %></h2>
            <%= @product.description.html_safe %>
          </div>
          <div class="span6">
            <div><center><%= image_tag @product.product_picture1.url %></center></div>
            <div><center><a class="btn btn-info" href="mailto:sales@ptgatasisindonesia.com?subject=Enquiries <%= @product.brand + " " + @product.name %>  &body=Please write down your infomation details ( Contact Person, Company Name, Address, Occupation, Telephone No, Service Details )
        ">Ask for enquiry</a>&nbsp;<%= link_to "Download Brochure", @product.product_pdf1.url, class: 'btn btn-success' %></center></div>
            <div class="fb-like" data-href="" data-width="450" data-show-faces="true" data-send="true"></div><br>
            <div class="row-fluid">
              <div class="span6"><center><%= image_tag @product.product_picture2.url(:medium) %></center></div>
              <div class="span6"><center><%= image_tag @product.product_picture3.url(:medium) %></center></div>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <%= @product.remarks2.html_safe %>
          </div>
          <div class="span6">
            <%= @product.remarks3.html_safe %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span8 offset2">
            <h4>Specification</h4>
            <%= @product.specs.html_safe %>
          </div>
        </div>
	</div>
</div>