<footer class="footer">
<div class="container">
	<div class="row">
		<div class="span4">
			<ul>
				<li>Industries & Solutions
                  <ul>
                    <% Industry.select('id','name').each do |list_industry| %>
                        <li><%= link_to list_industry.name, controller: 'industries', action: 'show', name: list_industry.name.tr(' ', '-') %></li>
                    <% end %>
                  </ul>
				</li>
			</ul>
		</div>
		<div class="span4">
			<ul>
				<li>Products
                  <ul>
                    <% Category.select('id','name').each do |list_category| %>
                        <li><%= link_to list_category.name, controller: 'sub_categories', action: 'show', name: list_category.name.tr(' ', '-') %></li>
                    <% end %>
                  </ul>
				</li>
				<li><%= link_to "Services & Support",''%></li>
			</ul>
		</div>
		<div class="span4">
			<ul>
				<li><%= link_to "About us",''%></li>
				<li><%= link_to "Find our location",''%></li>
				<li><%= link_to "Resources",''%>
					<ul>
						<li><%= link_to "Sitemap",''%></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
</footer>