<footer class="footer">
<div class="container">
	<div class="row">
		<div class="span4">
			<ul>
				<li><%= link_to "Industry Solutions",'' %>
					<ul>
						<li><%= link_to "Logistics",'' %></li>
						<li><%= link_to "Warehouse",'' %></li>
						<li><%= link_to "Healthcare",'' %></li>
						<li><%= link_to "Retails",'' %></li>
						<li><%= link_to "Manufacturing",'' %></li>
						<li><%= link_to "Public Services",'' %></li>
						<li><%= link_to "Livestock",'' %></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="span4">
			<ul>
				<li><%= link_to "Products", '' %>
					<ul>
						<li><%= link_to "Barcode & Labeling",'' %></li>
						<li><%= link_to "Mobile Terminal",'' %></li>
						<li><%= link_to "Label & Ribbons",'' %></li>
						<li><%= link_to "Wristbands",'' %></li>
						<li><%= link_to "Accessories",'' %></li>
					</ul>
				</li>
				<li><%= link_to "Services & Support",''%></li>
			</ul>
		</div>
		<div class="span4">
			<ul>
				<li><%= link_to "About us",''%></li>
				<li><%= link_to "Find our location",''%></li>
				<li><%= link_to "Resources",''%>
					<ul>
						<li><%= link_to "Sitemap",''%></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
</footer>